/* css */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  font-family: 'Roboto', sans-serif;
  background-color: rgb(247, 243, 243);

}

.container{

  width: 50%;
  margin: 0 auto;

}

/* header */

.title #logo{

  width: 100px;
  vertical-align: top;

}

.title h1{

  display: inline-block;
  font-size: 60px;
  padding-left: 10px;
  padding-top: 10px;

}

.title{

  background-color: white;
  padding: 10px 20px;

}

.add{

  padding: 3px 25px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  border-radius: 7px;
  display: inline-block;
  margin-right: 5px;

}

.add.task{

  color: white;
  background-color: rgb(15, 124, 226);

}

.add.section{

  border: 1px solid lightgrey;
  background-color: white;
  color: lightgrey;

}

.container .bg1{

  background-color: white;
  margin-top: 25px;
  margin-bottom: 2px;
  padding: 20px;
  border-radius: 8px 8px 0 0;

}

/* main */

main ul{
  list-style-type: none;
}

.container .bg2{

  background-color: white;
  padding: 1px 0;
  border-radius: 0 0 8px 8px;
}

.summary::before{
  content: '\25BE';
}

.summary{

  margin-bottom: 10px;

}

.container section{

  margin: 50px 90px;

}

.note{

  padding: 15px 0;
  font-size: 20px;

}

.check::before{

  content: '\2713';
  color: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 50%;
  padding: 1px 4px;

}

.notcheck::before{

  content: '\2715';
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 1px 4px;

}

.highlighted{

  margin-left: 3px;
  font-size: 14px;
  color: white;
  border-radius: 13px;
  padding: 8px 13px;

}

/* colors */

.color1{

  background-color: rgb(65, 142, 214);

}

.color2{

  background-color: blueviolet;

}

.color3{

  background-color: rgb(74, 182, 74);
  
}

.color4{

  background-color: goldenrod ;

}

.color5{

  background-color: rgb(207, 11, 224);

}

.color6{

  background-color: rgb(134, 204, 30);
  
}